<div class="container-fluid mt-5 abt-section  " id='aboutid'>
    <div class="row">
        <div class="col-md-10 col-12 mx-auto   ">
            <h1 class="text-center abt_heading">About Us</h1>
            <p class="text-center about_para">Grow Your Business With Us</p>
            <div class="row ">
                <div class="col-12 col-md-6 ">
                    <figure>
                        <img src="image/about.svg " class="mb-3" alt="hero_section">
                    </figure>
                </div>
                {{!--Right side--}}
                <div class=" col-12 col-md-6 d-flex justify-content-center align-items-start flex-column  ">
                    <h1 class="d-inline">WE ARE THE PROFESSIONAL DEVELOPERS 🚀 </h1>
                    <p class="mt-4">Welcome to <span class="bold-style">Community of Developers</span>
                        Your Number One Source For All Things. We are dedicated to giving You the very best of
                        Work,With A force on three Character ,i.e Dependent customer services and Uniqueness</p>
                    <a href="#serviceid"><button class="btn-style btn-primary mt-4">Read More</button></a>

                </div>
            </div>
        </div>
    </div>
</div>