<div class="container-fluid mt-5 ser-section about-style  container-fluid" id="serviceid">
    <div class="row">
        <div class="col-md-10 col-12 mx-auto  ">
            <h1 class="text-center abt_heading">Our Services</h1>
            <p class="text-center about_para">Grow Your Business With Us</p>
            <div class="row  mt-5">
                <div class=" col-md-4">
                    <div class="card ">
                        <img class="card-img-top" src="image/image2.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Marketing</h5>
                            <p class="card-text">
                                Content is fire, social media is gasoline -- Content marketing is more than a buzzword.
                            </p>
                            <a href="#" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                <div class=" col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="image/image1.jpg" alt="Card image cap">
                        <div class="card-body">
                            <h5 class="card-title">Web Development</h5>
                            <p class="card-text">
                                Whether it is web designing or development it requires a sense of imagination.
                                We are here to change your imagination to reality</p>
                            <a href="#" class="btn btn-primary">More details</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="card">
                        <img class="card-img-top" src="image/image4.jpg" alt="Card image cap">
                        <di class="card-body">
                            <h5 class="card-title">Programming</h5>
                            <p class="card-text"> Programming is the art of adding bugs to an empty text file and we
                                will help you to learn this art
                            </p>
                            <a href="#" class="btn btn-primary">More details</a>

                        </di </div>
                    </div>
                </div>


                <div class="row  mt-5">
                    <div class=" col-md-4">
                        <div class="card ">
                            <img class="card-img-top" src="image/android.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Android Development</h5>
                                <p class="card-text">
                                    Your mobile device has quickly become the easiest portal into your digital self
                                    Do You Want To Make Digital Community❓
                                </p>
                                <a href="#" class="btn btn-primary"> More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class=" col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="image/social.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Social Media Reach</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary"> More Details</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <img class="card-img-top" src="image/social1.jpg" alt="Card image cap">
                            <div class="card-body">
                                <h5 class="card-title">Media Reach</h5>
                                <p class="card-text">Some quick example text to build on the card title and make up the
                                    bulk
                                    of the card's content.</p>
                                <a href="#" class="btn btn-primary"> More Details</a>
                            </div>
                        </div>
                    </div>
                </div>





            </div>
        </div>